{% extends "base.html" %} 

{% block content %}

    <section class="mb-6">
        <h2 class="text-xl mb-2"><b>About</b></h2>
        <p>Under the Patient's tab, there is a Patient's table populated with patient data. The patient's ages range from 2 years old to 61 years old, and they have all tested positive for the food allergies in the past.</p>
        <p><br><br></p>
        <p> Under the Allergy Testing tab, there is data pertaining to the patients' food allergy tests and their results. The methods utilized for the retesting were blood tests or skin prick tests and that information is displayed in the Allergy Testing table along with the results.</p>
        <p><br><br></p>
        <p> The patients all have previously tested positive for the foods they are being retested for one or more of the foods on FARE's (Food Allergy, Research & Education) top 9 most common food allergies list that trigger an allergic reaction. The Top 9 most common Food Allergens are: Milk, Sesame, Peanuts, Tree Nuts, Fish, Shellfish, Wheat, Soy, and Eggs. </p>
        <p><br><br></p>
        <p>Click the link below to be directed FARE's website to learn more about each of the top 9 food allergens as well as the world of food allergies!</p>
        <p><br><br></p>
        <p><a href="https://www.foodallergy.org/living-food-allergies/food-allergy-essentials/common-allergens">foodallergy.org!</a></p>
    </section>

{% endblock %}