{% extends "base.html" %} 

{% block content %}

    <section class="mb-6">
        <h2 class="text-xl mb-2"><b>About</b></h2>
        <p>Under the Patient's tab, there is a Patient's table populated with patient data. The patient's ages range from 2 years old to 61 years old, and they have all tested positive for the food allergies listed next to their names in the Patients table, in the past.</p>
        <p><br><br></p>
        <p> Under the Allergy Testing tab, there is data pertaining to when the patients were retested for their food allergies by either blood tests or skin prick tests and that information is displayed in the Allergy Testing table.</p>
        <p><br><br></p>
        <p>All the patients have 2 tested positive for 2 food allergies, from FARE's (Food Allergy, Research & Education) Top 9 most common Food Allergies triggering allergic reactions. </p>
        <p><br><br></p>
        <p>Click the link below to be directed FARE's website to learn more about the top 9 food allergens as well as food allergies in geeneral!</p>
        <p><br><br></p>
        <p><a href="https://www.foodallergy.org/living-food-allergies/food-allergy-essentials/common-allergens">foodallergy.org!</a></p>
    </section>

{% endblock %}