{% extends "base.html" %} 

{% block content %}

    <section class="mb-6">
        <h2 class="text-xl mb-2">About</h2>
        <p>This application displays patient and allergy testing data. The patient's ages range from 2 years old to 61 years old, and they have all tested positive for the food allergies listed next to their names in the Patients table, in the past. Patient's were retested for their food allergies and that information is displayed in the Allergy Testing table.  </p>
    </section>

{% endblock %}